dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
/.idea/libraries/*.xml
/ChangeLog.md
/.idea/emacs.xml
/.idea/sbt.xml
/.idea/vcs.xml
/stack.yaml.lock
/.idea/modules.xml
/.idea/misc.xml
/gameofwords.iml
/.idea/codeStyles/codeStyleConfig.xml
